
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.error{
    color: red;
}

.form-row{
    background-color: darkseagreen;
    opacity: 0.8;
}

#container{
    margin-top: 50px;
}

h2 { color: revert;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: center;

}

label{
    font-family: cursive;
}

#confirm{
    margin-top: 20px;
}